.delete-box {
    width: 450px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    overflow: hidden;
    padding:20px;
}

.yes-button {
    border-radius: 10px;
    background-color: red;
    color: white;
    height:50px;
    width:350px;
    border: none;
}

.no-button {
    border-radius: 10px;
    background-color: darkgray;
    color: black;
    height:50px;
    width:350px;
    border: none;
}