.your-listings-page {
  padding: 20px;
}

.your-listings-content {
  margin: 20px 0px 0px 0px;
}

.product-listing-card{
  display: flex;
  flex-direction: row;
  border: 1px solid lightgray;
  margin: 20px 0px 0px 0px;
  padding: 10px;
}

.product-listing-image {
  background: lightgrey;
  width: 300px;
  height: 200px;
  margin: 0px 20px 0px 0px;
}

.listing-buttons {
  gap: 10px;
  padding: 0px 20px 0px 0px;;
}

