.product-details {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.top-detail {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left-div-image-container {
  flex: 1;
  padding: 20px;
}

.left-div-image-container img {
  width: 100%;
  height: auto;
  min-width: 600px;
  min-height: 400px;
  border-radius: 10px;
  background-color: rgb(226, 226, 226);
}

.right-div-product-description {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bottom-reviews {
  
}