/* TODO: Add sitewide styles */
body {
  font-family: 'Arial', sans-serif;
}



a {
  text-decoration: none; 
  color: inherit; 
}


a:hover {
  text-decoration: underline; 
  color: #007bff; 
}


a:visited {
  text-decoration: none; 
  color: inherit; 
}


a:active {
  text-decoration: none; 
  color: inherit; 
}