/* TODO: Add sitewide styles */
body {
  font-family: 'Arial', sans-serif;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
  box-shadow: none;
}




/* a {
  text-decoration: none; 
  color: inherit; 
}


a:hover {
  text-decoration: underline; 
  color: #007bff; 
}


a:visited {
  text-decoration: none; 
  color: inherit; 
}


a:active {
  text-decoration: none; 
  color: inherit; 
} */