.profile-dropdown {
  position: absolute;
}

#header-container {
  display: flex;
  justify-content: space-around;
  align-items: center; 
  padding: 20px 20px 20px 20px;
  border-bottom: 1px solid lightgrey;
}


.two-icons {
  display: flex;
  gap: 20px;
}

.category-and-search {
  display: flex;
  gap: 20px;
  opacity: 0.10;
  pointer-events: none;
}