.profile-dropdown {
  position: absolute;
 }
 
 
 #header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
 }
 
 
 .category-and-search {
  padding-left: 10px;
  opacity: 0.2;
 }
 
 
 #header-category {
  margin-right: 20px;
 }
 .search-bar{
  padding: 10px;
 }
 .two-icons {
  display: flex;
 
 
 }
 
 
 #login-and-signup{
  margin-right: 20px;
 }
 
 
 .category-and-search {
  display: flex;
 
 
 }
 